<%= form_for(@picture) do |f| %>
  <%= f.error_messages! %>

  <p><%= image_tag(@picture.image.thumb) %></p>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %><br>

  <%= f.text_field :caption, class: 'form-control', placeholder: "キャプションを書く" %><br>

  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "写真一覧画面にもどる", pictures_path %>
