<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p class="flash"><%= notice %><%= alert %></p>
    <h1>写真一覧</h1>
      <%= link_to "写真を投稿する", new_picture_path, class: 'btn btn-default' %>
      <% @pictures.each do |picture| %>
      <div class="row">
        <div class="clearfix">
          <p class="pull-left" id="profile-img"><%= profile_img(picture.user) if profile_img(picture.user) %></p>
          <p><%= picture.user.name %></p>
        </div>

        <p><%= picture.caption %></p>
        <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to '削除', picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default btn-sm btn btn-danger' %>
      </div>
      <% end %>
  </div>
</div>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
