<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <ul>
      <li><%= link_to "Instagram", root_path %></li>
      <li><%= link_to "Explore", root_path %></li>
      <li><%= link_to "通知", root_path %></li>
      <li><%= link_to "プロフィール", root_path %></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>© 2017 Instagram Clone</p>
  </footer>

</body>
</html>
